.header  {
    height: 60px;
    background-color: #F2F2F2;
    border-bottom: 1px solid #E4E4E4;
    position: absolute;
    width: 100%;
    top: 0px;
}

.logo   {
    float: left;
    margin: 0 10px 0 10px;
}

input   {
    width: 50%;
    height: 30px;
    margin-top: 12px;
    padding-left: 10px;
    float: left;
}

.search_button  {
    display: inline-block;
    margin-top: 12px; margin-left: -2px;
    background-color: #4D90FE;
    height: 36px;
}

